# Default ignored files
# temp
*~

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.log
*.pb.cc
*.tronmodel

# Folders
_obj
_test
**/.vscode/
**/.ipynb_checkpoints/
**/cmake-build-debug
**/cmake-build-release
**/build
**/third_party
data_process
labelxtools
算法测试
**/从Json中剪裁图像对应区域


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

#IDEA IDE
**/.idea/
*.iml
*.result
*.caffemodel
*caffemodel
**/bin/
**/pkg/
**/ai-apigate/
!application/pgo/**/python/
**/auditlog/
*.so*
*.out
*.pb.h
#Image
*.JPEG
*.bmp
*.png
*.jpeg
*.jpg
**.log
*.log
#Video
*.avi

sourceCacher/
*.pyc
*.swp
*.zip
*.tar
*.gzip
*.pem

# CMAKE
*/build/
mcrr/CMakeFiles/*
*.caffemodel

# qrsctl
bob_dylan/qrsctl

# docker build
docker/fetchimages/bob_dylan/*
docker/fetchimages/common/*
*.sw[po]
*bin
*.pyc

*.DS_Store
.vscode

project/tad/build/*
project/tad/third_party/*
